.home {
  background-color:rgba(212, 142, 211, 0.507);
  
  height: 100vh;
  padding: 5%;
  color:yellow;
  text-align: center;
}
.button{
  padding: 12px 20px;
  font-family: sans-serif;
text-align: center;
align-items: center;
line-height: 22px;
border: none;
color: white;
background-color: rgba(226, 26, 149, 0.281);
border-radius: 5px;
font-size: larger;
display: block;
padding: 8px;
margin: 10px auto;

}



